@model IEnumerable<projetASP.Models.Salarie>

@{
    ViewData["Title"] = "Salaries";
}

<h1>Salaries</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Portable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Site_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Portable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Site_id)
            </td>
            <td>
                <a asp-controller="Salarie" asp-action="SalarieEdit" asp-route-id="@item.Id"> Modifier</a> |
                <a asp-controller="Salarie" asp-action="SalarieDelete" asp-route-id="@item.Id"> Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
