@model IEnumerable<projetASP.Models.Service>

@{
    ViewData["Title"] = "Services";
}

<h1>Nos differents Services :</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom_service)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom_service)
                </td>
                <td>
                    <a asp-controller="Service" asp-action="ServiceEdit" asp-route-id="@item.Id"> Modifier</a> |
                    <a asp-controller="Service" asp-action="ServiceDelete" asp-route-id="@item.Id"> Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>