@model IEnumerable<projetASP.Models.Site>

@{
    ViewData["Title"] = "Sites";
}

<h1>Nos differents Sites :</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ville)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ville)
            </td>
            <td>
                <a asp-controller="Site" asp-action="SiteEdit" asp-route-id="@item.Id"> Modifier</a> |
                <a asp-controller="Site" asp-action="SiteDelete" asp-route-id="@item.Id"> Supprimer</a> 
            </td>
        </tr>
}
    </tbody>
</table>
